<!DOCTYPE html>
<html>
<head>
  <title>Vrabac</title>
</head>
<body>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Moje objave:</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<div class="center jumbotron">
<h1>    <%= image_tag("Vrabac.png") %> Vrabac <%= image_tag("Vrabac.png") %></h1>
<p>
  Kopija
  <a href="https://twitter.com/">Twitter-a</a>
  napravljena u edukativne svrhe.
</p>
  <%= link_to "Napravi nalog!", signup_path , class: "btn btn-lg btn-default" %>
</div>
</body>
  <%end %>
</html>